/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   ========================    MOBILE     =================================
========================================================================== */

/* ==========================================================================
                                HOMEPAGE
========================================================================== */

/* ========== BASE STYLES ================================================ */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    color: white;

}

header,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;

}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

a {
    text-decoration: none;
    color: inherit;
}

address {
    font-style: normal;
}

/* ========== HEADER ===================================================== */

header {
    background-color: black;
}


header .content-wrapper {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 100%;
    margin: 0;
}

header .header-divider {
    display: flex;
    justify-content: center;
    align-items: center;
    border: .5px solid darkgray;
    justify-content: center;
    margin: 15px 0;
    width: 100%;
}

    /* LOGO ======================= */

header .logo {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

    /* NAV ======================== */

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 60%;
    color: white;

}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
     width: 100%;
     margin: 0 0 10px;
}

header nav ul li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
}

header nav a {
    text-decoration: none;
    color: inherit;
}

/* ========== MAIN  ====================================================== */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
}

    /* HERO-AREA ================== */

.hero-area {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-image: url(../img/jake-melara-30679-unsplash.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: inherit;
    height: 500px;
}

.hero-area h1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    margin: 45px 20px;
    font-size: 36px;
}

    /* NEWSLETTER SIGN-UP ========= */

aside.newsletter {
    background-color: darkolivegreen;
    width: 100%;
}

.newsletter .content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    color: white;
    margin: 0;
    padding: 15px 20px 40px;

}

.newsletter h3 {
    padding: 15px 0 ;
    margin: 0;
}

.newsletter p {
    padding: 0 0 15px 0;
    margin: 0;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: ;
}

input {
    width: 100%;
    padding: 5px 0;
    margin: 10px 0;
}

    /* FEATURES =================== */

.features {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    padding: 50px 20px;
    background-color: darkred;
    color: white;
}

.features .features-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 50%;
    text-align: center;
}

.features-items article {
    width: inherit;
}

.features h2 {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-family: sans-serif;
}

.features p  {
    margin: 0;
    padding: 0;
}



.features .fontawesome-icon {
    height: 60px;
}

    /* REVIEWS ==================== */

.reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    padding: 50px 20px;
    background-color: darkolivegreen;
    color: white;
}


.reviews h2 {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    padding: 0;
}

div.previous-retreat-img {
    height: 200px;
    margin: 20px 0;
}

.reviews .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

article.previous-retreat {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: column nowrap;
    padding: 10px 0;
}

.reviews h3 {

    padding: 20px 0;
    margin: 0;
}

.reviews p {
    padding: 5px 0;
    margin: 0;
}

/* ========== FOOTER ===================================================== */

footer  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;

    background-color: black;
    color: white;
}

footer .content-wrapper {
    margin: 50px 0;
    width: 55%;
}



footer p {
    margin: 0;
    padding: 0;
}

    /* CONTACT ==================== */

footer address {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

footer address a {

}

footer h4 {
    margin: 0 0 20px 0;
}

    /* SOCIAL ===================== */

footer .social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

footer .social h4 {
    margin-top: 50px;
}

footer .social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row nowrap;
}



footer .social-icons  a {
    padding: 0 15px;
    text-decoration: none;
    color: inherit;
}

    /* COPYRIGHT ================== */

footer .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;

}

/* ==========================================================================
                                FAQS
========================================================================== */

/* ========== MAIN  ====================================================== */

section.faqs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    background-color: darkolivegreen;
    width: 100%;
}

    /* QUESTIONS ================== */

.faqs .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column nowrap;
    padding: 0 20px;
}

        /* QUESTION ======================== */

article.question-item {
    padding-bottom: 40px;
}

.faqs h3 {

}

.faqs p {

}



/* ==========================================================================
                                ABOUT
========================================================================== */

/* ========== MAIN  ====================================================== */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.content-wrapper h1 {

}

.mission .content-wrapper, .contact-section .content-wrapper {
    padding: 40px 20px;
}


    /* MISSION ==================== */

section.mission {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    background-color: darkolivegreen;
}

.mission.content-wrapper {

}

.mission h1 {

}

.mission-content {

}

.mission-content p {

}

    /* MAP ======================== */

section.map {
    height: 450px;
    width: 100%;
}

.map figure {

}

    /* CONTACT INFO =============== */

section.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    background-color: darkslategrey;
    width: inherit;
}

.contact-section.content-wrapper {

}

.contact-section h1 {

}

.contact-section address {

}

.contact-section address .general-info {

}

.contact-section address .chat {

}

.contact-section address h4 {

}

.contact-section address p {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


/* ==========================================================================
    ============================ TABLET ====================================
========================================================================== */

@media only screen and (min-width: 768px) {
/*Tablet styles here*/


/* ==========================================================================
                                HOMEPAGE
========================================================================== */

  /* ========== HEADER =================================================== */

header .content-wrapper {
    flex-flow:  row nowrap ;
    width: 80%;
    margin: 30px 0 ;
}

header .header-divider {
    border: none;
}

    /* LOGO ======================= */

header .logo {
    margin: 0px;
}

    /* NAV ======================== */

header nav {
    width: 160px;
}

header nav ul {
    margin: 0;
}

header nav ul li {
    justify-content: flex-end;
    width: 80px;
}



  /* ======== MAIN  ====================================================== */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 100%;
}

    /* HERO-AREA ================== */

.hero-area {
    height: 600px;
}

.hero-area h1 {
    font-size: 48px;
    width: 90%;
    margin: 10%;

}

    /* NEWSLETTER SIGN-UP ========= */

aside.newsletter {
    height: 250px;
}

.newsletter .content-wrapper{
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row nowrap;
    padding: 30px 10% ;

}

.newsletter .form-description {
    width: 40%;
}

.newsletter h3 {
    padding: 0 ;
    margin: 15px 0;
    font-size: 24px;
}

.newsletter p {
    padding:  0 ;
    margin: 0;
}

.form {
    align-items: flex-start;
    width: 40%;
}

input {
}


    /* FEATURES =================== */

.features {
    padding: 10%;
}

.features .features-items {
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
    width: 80%;
}

.features-items article {
    width: 40%;
}

.features h2 {
    padding: 10px 0;
    font-size: 36px;
}

.features p  {
    padding: 10px 0;
}


.features .fontawesome-icon {
    height: 70px;
}



    /* REVIEWS ==================== */

.reviews {
    justify-content: flex-start;
    flex-flow: row wrap;
    padding: 10%;
}

.reviews h2 {
    margin: 0;
    padding: 0;
    width: 75%;
}


.reviews .content-wrapper {
    padding: 10px 0;
}

article.previous-retreat {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row nowrap;

}

div.previous-retreat-img {
    margin:  0;
    width: 45%;
}

div.previous-retreat-description {
    width: 45%;
}

.reviews h3 {
    padding:  0;
    margin:  0;
    width: 100%;
}

.reviews p {
    padding: 5px 0;
    margin: 0;
}

  /* ======== FOOTER ===================================================== */

footer  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;

    background-color: black;
    color: white;
}

footer .content-wrapper {
    margin: 50px 0;
    width: 55%;
}



footer p {
    margin: 0;
    padding: 0;
}

    /* CONTACT ==================== */

footer address {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

footer address a {

}

footer h4 {
    margin: 0 0 20px 0;
}

    /* SOCIAL ===================== */

footer .social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

footer .social h4 {
    margin-top: 50px;
}

footer .social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row nowrap;
}



footer .social-icons  a {
    padding: 0 15px;
    text-decoration: none;
    color: inherit;
}

    /* COPYRIGHT ================== */

footer .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;

}
/* ==========================================================================
                                FAQS
========================================================================== */

/* ========== MAIN  ====================================================== */

    /* QUESTIONS ================== */

        /* QUESTION ======================== */

/* ==========================================================================
                                ABOUT
========================================================================== */

/* ========== MAIN  ====================================================== */

    /* MISSION ==================== */

    /* MAP ======================== */

    /* CONTACT INFO =============== */


} /* =========  TABLET STYLES END  =========== */

/*=========================================================================================================== DESKTOP ====================================
========================================================================== */

@media only screen and (min-width: 1200px) {
/*Desktop styles here*/


/* ==========================================================================
                                HOMEPAGE
========================================================================== */

  /* ========== HEADER =================================================== */

    /* LOGO ======================= */

    /* NAV ======================== */

  /* ======== MAIN  ====================================================== */

    /* HERO-AREA ================== */

    /* NEWSLETTER SIGN-UP ========= */

    /* FEATURES =================== */

    /* REVIEWS ==================== */


  /* ======== FOOTER ===================================================== */


    /* CONTACT ==================== */

    /* SOCIAL ===================== */

    /* COPYRIGHT ================== */

/* ==========================================================================
                                FAQS
========================================================================== */

/* ========== MAIN  ====================================================== */

    /* QUESTIONS ================== */

        /* QUESTION ======================== */



/* ==========================================================================
                                ABOUT
========================================================================== */

/* ========== MAIN  ====================================================== */

    /* MISSION ==================== */

    /* MAP ======================== */

    /* CONTACT INFO =============== */


} /* =========  DESKTOP STYLES END  =========== */











/*=========================================================================*/
@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
